<div class="login">
	<div class="form_heading">
    	<h5>Sign In</h5>
    </div><!--end of form_heading-->
    <div class="form_leftwrap">
    	<div class="form_rightwrap">
        	<div class="form_midwrap">
            	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<p><%= devise_error_messages! %></p>
                	<%= f.label :login %>
                    <div class="textbox_wrapper">
						<%= f.text_field :login, :class => "textbox" %>
                    </div><!--end of textbox_wrapper-->
                	<label>Password:</label>
                    <div class="textbox_wrapper">
						<%= f.password_field :password, :class => "textbox" %>
                    </div><!--end of textbox_wrapper-->
					<%= f.check_box :remember_me, :class => "checkbox" %> 
					<%= f.label :remember_me, :class => "left" %>
                    <div class="form_btmwrap">
                        <input type="image" src="/images/button_signin.png" alt="Sign In" class="button" />
                        <ul class="formoption">
                            <li>
								<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
								  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
								<% end -%>
							</li>
                            <li>
								<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
								  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
								<% end -%>
							</li>
                            <li>
								<%- if devise_mapping.omniauthable? %>
								  <%- resource_class.omniauth_providers.each do |provider| %>
								    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
								  <% end -%>
								<% end -%>
							</li>
                        </ul>
                        <div class="clear"></div><!--end of clear-->
                    </div><!--end of form_btmwrap-->
                <% end %>
            </div><!--end of form_midwrap-->
        </div><!--end of form_rightwrap-->
    </div><!--end of form_leftwrap-->
</div><!--end of login-->