<div class="footer">
	<div class="minorsponsors">
		<ul>
	    	<li><img src="/images/minorsponsors_logo1.jpg" alt="" width="86" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo2.jpg" alt="" width="65" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo3.jpg" alt="" width="136" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo4.jpg" alt="" width="155" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo5.jpg" alt="" width="50" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo6.jpg" alt="" width="151" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo7.jpg" alt="" width="76" height="83" /></li>
	        <li><img src="/images/minorsponsors_logo8.jpg" alt="" width="103" height="83" /></li>
	    </ul>
	</div><!--end of minorsponsors-->
    <div class="footer_bgwrap">
        <div class="footerwrap">
            <div class="footernav">
                <ul> 
					<li><%= link_to "Home", root_url %></li>
					<li>|</li>
					<li><%= link_to "About Us", home_about_path %></li>
					<li>|</li>
					<li><%= link_to "Contact Us", home_contactus_path %></li>
					<li>|</li>
					<li><%= link_to "Privacy Policy", home_privacy_path %></li>
					<li>|</li>
					<li><%= link_to "FAQ", home_faq_path %></li>
                </ul>
            </div><!--end of footernav-->
            <div class="copyright">
                <p>Copyright &copy; Grateful Deed 2011. All Rights Reserved.</p>
            </div><!--end of copyright-->
            <div class="clear"></div><!--end of clear-->
        </div><!--end of footerwrap-->
    </div><!--end of footer_bgwrap-->
</div><!--end of footer-->